// Importing fonts
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// Header
$header-bg: linear-gradient(to bottom right, #5200c5 10%, #29ABE2 100%);
$header-text-color: white;
$home-header-height: 50vh;

$header-font: 'Raleway', sans-serif;

// Navigation
$nav-text-color: white;
$nav-item-font-size: 1.2rem;

// General stuff
$main-font-family: 'Raleway', sans-serif;

// Home Page
$latest-bans-head-bg: #6700ff;
$latest-mutes-head-bg: #6700ff;
$latest-kicks-warns-head-bg: #6700ff;

$latest-bans-head-color: white;
$latest-mutes-head-color: white;
$latest-kicks-warns-head-color: white;

$latest-punishments-date-bg: #d53c91;
