@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);header {
  position: relative;
  margin-bottom: 20px;
  min-height: 50vh;
  -webkit-animation: headeranim 3s ease-out;
          animation: headeranim 3s ease-out;
  color: white;
  font-family: "Raleway", sans-serif;
}
header #nav-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
header #nav-wrapper h1 {
  display: inline-block;
}
header #nav-wrapper nav {
  max-width: 75%;
  min-width: 50%;
  display: inline-block;
}
header #nav-wrapper nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
header #nav-wrapper nav ul li {
  display: inline-block;
}
header #nav-wrapper nav ul li a {
  color: white;
  font-size: 1.2rem;
}
header #welcome {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
header .wrapper {
  background: linear-gradient(to bottom right, #5200c5 10%, #29ABE2 100%);
  background-position-y: calc(100% - 0px);
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  background: #29ABE2;
  background: linear-gradient(to bottom right, #4F00BC 10%, #29ABE2 100%);
  transform: skewY(-3.25deg);
  transform-origin: top left;
}

@-webkit-keyframes headeranim {
  0%, 40% {
    min-height: 120vh;
  }
  100% {
    min-height: 50vh;
  }
}

@keyframes headeranim {
  0%, 40% {
    min-height: 120vh;
  }
  100% {
    min-height: 50vh;
  }
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

main {
  width: 80%;
  margin: auto;
  padding: 25px 0;
  font-family: "Raleway", sans-serif;
}

footer {
  padding: 20px 0;
  background: #111;
  box-shadow: 0 9999px 0 9999px #111;
  color: white;
}
footer p {
  margin: 0;
}

#recentpunishments > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#recentpunishments > ul > li {
  margin-top: 20px;
  display: inline-block;
  width: 32%;
  text-align: center;
  border: 1px darkgray solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#recentpunishments > ul > li h3 {
  padding: 15px;
}
#recentpunishments > ul > li li {
  border-bottom: 1px solid lightgray;
}
#recentpunishments > ul > li li a {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  margin: auto;
}
#recentpunishments > ul > li li a figure {
  display: flex;
  align-items: center;
  margin: 0;
}
#recentpunishments > ul > li li a figure .name {
  margin-left: 10px;
}
#recentpunishments > ul li:nth-child(1) h3 {
  background: #6700ff;
  color: white;
}
#recentpunishments > ul li:nth-child(2) h3 {
  background: #6700ff;
  color: white;
}
#recentpunishments > ul li:nth-child(3) h3 {
  background: #6700ff;
  color: white;
}
#recentpunishments > ul .date {
  color: #fff;
  background-color: #d53c91;
  padding: 3px 5px;
  font-size: 0.8rem;
  border-radius: 5px;
}
@media (max-width: 1500px) {
  #recentpunishments > ul {
    justify-content: center;
  }
  #recentpunishments > ul > li:first-of-type {
    margin-right: 15px;
  }
  #recentpunishments > ul > li {
    width: 49%;
  }
}
@media (max-width: 1050px) {
  #recentpunishments > ul {
    justify-content: center;
  }
  #recentpunishments > ul > li:first-of-type {
    margin-right: 0;
  }
  #recentpunishments > ul > li {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #recentpunishments > ul {
    justify-content: center;
  }
  #recentpunishments > ul > li:first-of-type {
    margin-right: 0;
  }
  #recentpunishments > ul > li li a {
    display: block;
  }
  #recentpunishments > ul > li li a figure {
    justify-content: center;
  }
}