html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

ul {
    margin-bottom: 0;
}

main {
    width: 80%;
    margin: auto;
    padding: 25px 0;
    font-family: $main-font-family;
}

footer {
    padding: 20px 0;
    background: #111;
    box-shadow: 0 9999px 0 9999px #111;
    color: white;

    p {
        margin: 0;
    }
}
