#recentpunishments > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > li {
        margin-top: 20px;
        display: inline-block;
        width: 32%;
        text-align: center;
        border: 1px darkgray solid;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        h3 {
            padding: 15px;
        }

        li {
            border-bottom: 1px solid lightgray;

            a {
                figure {
                    display: flex;
                    align-items: center;
                    margin: 0;

                    .name {
                        margin-left: 10px;
                    }
                }

                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 6px 0;
                margin: auto;
            }
        }

        li:last-of-type {
            border-bottom: none;
        }
    }

    li:nth-child(1) h3 {
        background: $latest-bans-head-bg;
        color: $latest-bans-head-color;
    }

    li:nth-child(2) h3 {
        background: $latest-mutes-head-bg;
        color: $latest-mutes-head-color;
    }

    li:nth-child(3) h3 {
        background: $latest-kicks-warns-head-bg;
        color: $latest-kicks-warns-head-color;
    }

    .date {
        color: #fff;
        background-color: $latest-punishments-date-bg;
        padding: 3px 5px;
        font-size: .8rem;
        border-radius: 5px;
    }

    @media (max-width: 1500px) {
        justify-content: center;

        > li:first-of-type {
            margin-right: 15px;
        }

        > li {
            width: 49%;
        }
    }

    @media (max-width: 1050px) {
        justify-content: center;

        > li:first-of-type {
            margin-right: 0
        }

        > li {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        justify-content: center;

        > li:first-of-type {
            margin-right: 0
        }

        > li li a {
            display: block;

            figure {
                justify-content: center;
            }
        }
    }
}
