#newusers article {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px darkgray solid;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    h3 {
        background: $newest-users-head-bg;
        color: $newest-users-head-color;
        padding: 15px;
    }

    li {
        border-bottom: 1px solid lightgray;

        a {
            figure {
                display: flex;
                align-items: center;
                margin: 0;

                .name {
                    margin-left: 10px;
                }
            }

            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 6px 0;
            margin: auto;
        }
    }

    li:last-of-type {
        border-bottom: none;
    }
}

.date {
    color: #fff;
    background-color: $latest-punishments-date-bg;
    padding: 3px 5px;
    font-size: .8rem;
    border-radius: 5px;
}
